@import url('../generales/variables.css');

/* estilos generales de la pagina */
body{
    font-family: var(--font-text);
    font-family: var(--text-font);
}

.header{
    margin-top: -6%;
}

.bannerProfile{
    margin-bottom: 2%;
}

/* banner del perfil */
.bannerProfile .banner{
    margin-top: 6%;
    width: 75%;
    height: 300px;
    margin-left: 13%;
    border-radius: var(--border-radius);
    background-color: var(--light-color);
}

.bannerProfile .banner > img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 45%;
    margin-top: 2%;
}

.bannerProfile .banner > h1{
    text-align: center;
    font-size: 48px;
    margin-top: 2%;
}