@import url('../generales/variables.css');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-text);
    font-family: var(--text-font);
}

.notificaciones{
    background-color: white;
    width: 400px; 
    height: 500px;
    margin-top: -2%;
    border-radius: var(--border-radius); 
    position: absolute; 
    margin-left: 55%;
    box-shadow: 5px 5px 10px gray;
}

.notificaciones .notificacion{
    margin-bottom: 7%;
}

.notificaciones .notificacion > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 5%;
}

.notificaciones .notificacion > p{
    margin-left: 21%;
    margin-top: -9%;
}

.notificaciones .notificacion .tiempoNotificacion{
    color: rgba(0, 0, 0, 0.5);
}

.header{
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.header .fijado{
    background: var(--primary-color);
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0.5%;
    /* position: fixed; */
}

.header .fijado .logo img{
height: 80%;
}
.header .fijado .navbar div {
    display: none;
}
    
.header .fijado .navbar a:hover + div {
    display: block;
}
.header .fijado .buscar input{
    width: 400px;
    height: 25px;
    margin-top: 4%;
    margin-left: 10%;
    border-radius: 10px;
    font-size: var(--size-three);
    outline: none;
    padding: 2%;
    border: beige solid 1px;
}

.header .fijado .buscador{
    width: 23%;
    border-radius: 10px;
    font-size: var(--size-three);
    border: none;
}

.header .fijado .buscar input::placeholder{
    font-size: var(--size-three);
    position: relative;
    left: 2%;
}

.header .fijado datalist {
    background-color: white;
}

.header .fijado .navbar{
    width: 250px;
    margin-top: 0.5%;
    
}

.header .fijado .navbar > a > p{
    margin-left: 5%;
}

.header .fijado .navbar p:hover path:hover{
    /* background-color: var(--secondary-color);
    border-radius: var(--border-radius); */
    fill:var(--secondary-color);
}
.header .fijado .navbar p:hover i:hover{
    color: var(--secondary-color);
    /* border-radius: var(--border-radius); */
    /* fill:var(--secondary-color); */ 
}
.header .fijado .navbar p{
    float: left;
    padding: 0% 2%;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 1%;
}
/* .header .fijado .navbar > a > p > svg{
    margin-left: 25%;
} */

/* responsive mobile */
.header .fijado .buscarResponsive{
    display: none;
}

@media (max-width:768px) {
    .header .buscar{
        display: none;
    }
    .header .buscarResponsive{
        display: flex;
        margin-top: 1%;
    }
    .header .buscarResponsive i{
        font-size: var(--size-one);
    }
    .header .navbar{
        display: none;
    }
}