@import url('../generales/variables.css');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-text);
    font-family: var(--text-font);
}

.header{
    background: var(--primary-color);
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0.5%;
}

.header .logo h1{
    display: flex;
    font-family: var(--title-font);
    font-size: var(--size-one);
    margin-top: -15%;
}

.header .buscar input{
    width: 400px;
    height: 25px;
    margin-top: 4%;
    border-radius: 10px;
    font-size: var(--size-three);
    border: none;
}
.header .buscador{
    background-color: blue;
    width: 23%;
    border-radius: 10px;
    font-size: var(--size-three);
    border: none;
}
.header .buscar input::placeholder{
    font-size: var(--size-three);
    position: relative;
    left: 10px;
}

.header .navbar{
    width: 300px;
}

.header .navbar p:hover{
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
}

.header .navbar p{
    float: left;
    padding: 0% 2%;
    color: white;
    font-size: var(--size-one);
    cursor: pointer;
}

/* responsive mobile */
.header .buscarResponsive{
    display: none;
}

@media (max-width:768px) {
    .header .buscar{
        display: none;
    }
    .header .buscarResponsive{
        display: flex;
        margin-top: 1%;
    }
    .header .buscarResponsive i{
        font-size: var(--size-one);
    }
    .header .navbar{
        display: none;
    }
}