*{
  background: lightskyblue;
}

.conteiner{
  margin-top: 5%;
}

.cielo{
  background: url(f.jpg) repeat-x;
  animation: movesuelo 9s linear infinite;
  width: 100%;
  height: 320px;
}

.suelo{
  background: url(fondos.jpg) repeat-x;
  animation: movesuelo 5s linear infinite;
  width: 100%;
  height: 210px;
  position: relative;
  top: 271px;
}
.flor{
  width:100%;
  height: 88px;
  background: url(flor.png) no-repeat; 
  animation: moveplanta 30s  infinite;
  margin: 0;
  position: relative;
  bottom: -70%;
}
.perso{
  width: 80px;
  height: 88px;
  background: url(person.png) repeat-x;
  /* animation: walk 1s steps(7) infinite;  */
  margin: 0;
  position: relative;
   bottom: 15%; 
  left: 25%;
}
.person{
  width: 80px;
  height: 88px;
  background: url(person.png) repeat-x;
  animation: walk 1s steps(7) infinite; 
  margin: 0;
  position: relative;
  bottom: 15%;
  left: 25%;
}

@keyframes walk {
  0% {background-position: 0}
  100% {background-position: -560px}
}

@keyframes movesuelo{
  0% {background-position: 550px}
  100% {background-position: 0}
}
@keyframes moveplanta {
  0% {background-position: right}
  100% {background-position: left}
}