@import url('../generales/variables.css');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-text);
    font-family: var(--text-font);
}

.sessionFlow{
    width: 1000px;
    height: 700px;
    margin-left: 20%;
    margin-top: 8%;
    background-color: var(--primary-color);
}

.sessionFlow{
    display: flex;
    justify-content: space-evenly;
}
.sessionFlow .logo{
    margin-top: 10%;
    width: 40%;
    height: 70%;
    overflow: hidden;
}
.sessionFlow ul {
    padding: 0%;
    display: flex;
    width: 400%;
    animation: cambio 20s infinite alternate;
}
.sessionFlow li {
    list-style: none;
    width: 100%;
    height: 100%;
}

.sessionFlow .logo img{

    width: 100%;
    height: 100%;
    margin-top: 30%;
    margin-left: 30%;
}

.sessionFlow .box{
    width: 400px;
    height: 550px;
    background-color: white;
    margin-top: 8%;
}

.sessionFlow .box h1{
    text-align: center;
    margin-top: 15%;
}

.sessionFlow .box .form{
    width: 80%;
    margin-top: 10%;
    margin-left: 15%;
}

.sessionFlow .box .form a,
.sessionMobile > a,
.sessionMobile > a > button{
    all: unset;
}

.sessionFlow .box .form input[type="text"]{
    width: 90%;
    line-height: 30px;
    border: none;
    background-color: rgba(196, 196, 196, 0.5);
    cursor: text;
}

.sessionFlow .box .form .label{
    margin-top: 8%; 
}

.sessionFlow .box .form button{
    all: unset;
    background-color: var(--primary-color);
    padding: 2% 7%;
    border-radius: 50px;
    margin-top: 15%;
    margin-left: 20%;
    color: white;
    cursor: pointer;
}

.sessionFlow .box .form .forget{
    margin: 0px;
    color: var(--primary-color);
    margin-left: 13%;
    margin-top: 8%;
}

.sessionFlow .box .form hr{
    margin-left: -10%;
    margin-top: 10%;
}

.sessionFlow .box .form .register{
    margin-left: 15%;
}

@keyframes cambio {
    0%{margin-left: 0;
    }
    20%{margin-left: 0;
    }
    25%{margin-left: -110%;
    }
    45%{margin-left: -110%;
    }
    50%{margin-left: -220%;
    }
    70%{margin-left: -220%;
    }
    75%{margin-left: -330%;
    }
    100%{margin-left: -330%;
    }
}

.box .error{
    color: red;
    font-size: 11px;
    margin-top: 1%;
}

/* responsive */

.sessionMobile{
    display: none;
}

@media (max-width: 468px){
    .sessionFlow{
        display: none;
    }

    .sessionMobile{
        display: flex;
    }

    .sessionMobile > img{
        width: 150px;
        height: 150px;
        margin-left: 30%;
        margin-top: 5%;
    }

    .sessionMobile > h1{
        position: absolute;
        font-family: var(--title-font);
        font-size: 30px;
        font-weight: 100;
        margin-top: 50%;
        margin-left: 35%;
    }

    .sessionMobile > form{
        position: absolute;
        margin-top: 65%;
        margin-left: 20%;
    }

    .sessionMobile > form > label{
        margin-bottom: 50%;
    }

    .sessionMobile > form > input{
        width: 130%;
        border: none;
        height: 25px;
        background-color: rgba(196, 196, 196, 0.6);
    }

    .sessionMobile > a > button,
    .sessionMobile .registrarse > button{
        all: unset;
        background-color: var(--primary-color);
        padding: 2% 7%;
        border-radius: 50px;
        color: white;
        cursor: pointer;
        position: absolute;
        margin-top: 100%;
        margin-left: -45%;
        font-size: 20px;
        font-weight: bold;
    }

    .sessionMobile > a > p{
        color: var(--primary-color);
        position: absolute;
        margin-top: 112%;
        margin-left: -46%;
    }

    .sessionMobile .registrarse > button{
        margin-top: 130%;
        margin-left: -48%;
        padding: 2% 7%;
        font-weight: bold;
        cursor: pointer;
    }
}