

.conteiner{
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.perfil{
    background-color: #E4D9E4;
    border-radius: 5px;
    width: 1090px;
    height: 238px;
    margin-top: 110px;
}
.nombre{
text-align: center;
font-size: 48px;
}
.circulo {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: #5cb85c;
  

}
.fotos{
    width: 20%;
    height: 868px;
    background-color: #E4D9E4;
    margin-top:50px;
    border-radius: 5px;
    margin-left: 10%;
}
.lineas{
    width: 70%;
    height: 1px;
  margin-left: 15%;
    background-color: #A66FA6;
}
.texto{
    margin-left: 17%;
    font-size: 20px;
    color: rgba(0, 0, 0,1);
}

.image-amigos{
    display: inline-grid;
  
    grid-template-columns: 25% 25% 25% ;
    
}
.amigo{
    display: inline-grid;
  
    grid-template-columns: 25% 25% 25% 25% ;
    
}
img{
    height: 85%;
    width: 85%;
    margin-left: 60%;
}
.amigos{
margin-left: 80%;
height: 68px;
width: 70px;
margin-top: 15%;
}
.circulo-foto{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #5cb85c;
    margin-left: 20%;
}

.nombre-apellido{
    font-size:14px ;
}
.text-todos{
    font-size:14px ;
    margin-left: 65%;
}

body{
    overflow: hidden;
}
.loader-container{
    width: 100%;
    height: 910px;
}

.loader-container .loader1{
width: 100px;
height: 100px;
position: relative;
left: 50%;
top: 40%;
border: solid 4px transparent;
border-top-color: #844B84;
border-left-color: #844B84;
border-radius: 50%;
animation: loader 1.2s linear infinite;  
}

.loader-container .loader2{
width: 80px;
height: 80px;
position: absolute;
left: 50%;
top: 50%;
border: solid 4px transparent;
border-top-color:#A66FA6;
border-left-color: #A66FA6;
border-radius: 50%;
animation: loader2 1.2s linear infinite;  
}
@keyframes loader {
    0%{
        transform: translate(-50%,50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,50%) rotate(360deg);
    }
    
}
@keyframes loader2 {
    0%{
        transform: translate(-50%,50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,50%) rotate(-360deg);
    }
    
}

.loader-container-finish{
    width: 100%;
    height: 910px;
    animation: mostrarPagina 3s 1;
}


@keyframes mostrarPagina {
    0%{
        height: 910px;
    }
    100%{
        height: 0px;
    }
} 