@import url('../generales/variables.css');

*{
    margin: 0;
    padding: 0;
}

/* estilos generales de la pagina */
body{
    font-family: var(--font-text);
    font-family: var(--text-font);
}

.header{
    margin-top: -5%;
}

.explicacionPublicidad > h1{
    text-align: center;
    margin-top: 5%;
    font-size: 42px;
}

.explicacionPublicidad > p{
    font-size: var(--size-one);
    margin-top: 2%;
    text-align: center;
}

.prioridadesPublicidad, 
.pagarPublicidad{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    width: 75%;
    margin-left: 12.5%;
}

.prioridadesPublicidad > div{
    width: 15%;
}

.prioridadesPublicidad > div > h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--light-color);
}

.prioridadesPublicidad > div > p{
    text-align: center;
    font-size: var(--size-two);
}

.pagarPublicidad .formulario{
    margin-left: 5%;
}

.pagarPublicidad .formulario > table tr td{
    text-align: center;
}

.pagarPublicidad .formadePago .form{
    margin-left: -5%;
}

.pagarPublicidad .formadePago .form > label,
.pagarPublicidad .formadePago .form > select{
    display: inline-block;
    margin-top: 20px;
}

.pagarPublicidad .formadePago .form > input[type=text]{
    background-color: rgba(196, 196, 196, 0.7);
    border: none;
    height: 20px;
}

.pagarPublicidad .formadePago .form > button{
    margin-top: 2%;
    border: none;
    background-color: var(--primary-color);
    color: white;
    padding: 2%;
    font-weight: bold;
    font-size: var(--size-two);
}