@import 'styleMenu.css';

body{
    margin: 0%;
    background-color: black;
}

.conteiner{
    margin-top: 170px;
}

.layer{
    position: relative !important;
    width: 100% !important;
    height: 660px !important;
}

/* fondo de noche */
.layer1{
    background: url(../images/background/night/dark_07_1920_1080.png);  
    z-index: 0; 
}

.layer2{
    background: url(../images/background/night/dark_06_1920_1080.png);  
    z-index: 1; 
}

.layer3{
    background: url(../images/background/night/dark_05_1920_1080.png); 
    z-index: 2; 
    animation: moveBackground 40s linear infinite;
}

.layer4{
    background: url(../images/background/night/dark_04_1920_1080.png); 
    z-index: 3; 
    animation: moveBackground 30s linear infinite;
}

.layer5{
    background: url(../images/background/night/dark_03_1920_1080.png);  
    z-index: 4; 
    animation: moveBackground 20s linear infinite;
}

.layer6{
    background: url(../images/background/night/dark_02_1920_1080.png);  
    z-index: 5; 
    animation: moveBackground 15s linear infinite;
}

.layer7{
    background: url(../images/background/night/dark_01_1920_1080.png);  
    z-index: 6;  
    animation: moveBackground 10s linear infinite;
}
/* fin fondo de noche */

/* fondo de ciudad */
.layer2-1{
    background: url(../images/background/city/layer_08_1920_1080.png);  
    z-index: 0;
}

.layer2-2{
    background: url(../images/background/city/layer_07_1920_1080.png);  
    z-index: 1; 
}

.layer2-3{
    background: url(../images/background/city/layer_06_1920_1080.png); 
    z-index: 2; 
    animation: moveBackground 40s linear infinite;
}

.layer2-4{
    background: url(../images/background/city/layer_05_1920_1080.png); 
    z-index: 3; 
    animation: moveBackground 30s linear infinite;
}

.layer2-5{
    background: url(../images/background/city/layer_04_1920_1080.png);  
    z-index: 4; 
    animation: moveBackground 20s linear infinite;
}

.layer2-6{
    background: url(../images/background/city/layer_03_1920_1080.png);  
    z-index: 5; 
    animation: moveBackground 15s linear infinite;
}

.layer2-7{
    background: url(../images/background/city/layer_02_1920_1080.png);  
    z-index: 6;  
    animation: moveBackground 10s linear infinite;
}

.layer2-8{
    background: url(../images/background/city/layer_01_1920_1080.png);  
    z-index: 7;  
    animation: moveBackground 10s linear infinite;
}
/* fin fondo de ciudad */

.barril{
    background: url(../images/objects/barril.png) no-repeat;   
    width: 3.5%;
    height: 80px;
    animation:  moveObstacle 5s linear 1;  
    position: absolute;
    top: 660px;
}

.flecha{
    background: url(../images/objects/flecha.png) no-repeat; 
    width: 5%;
    height: 25px;
    animation: moveObstacle 5s linear 1; 
    position: absolute;
    top: 600px;
}

.moneda{
    background: url(../images/objects/money.png) no-repeat;  
    width: 5%;
    height: 80px;
    animation: moveMoney 7s linear 1; 
    position: absolute;
    top: 660px;
}

.person{
    width: 135px;
    height: 156px;
    animation: walk 1s steps(6) infinite;  
    position: absolute;
    top: 425px;
    left: 20%;
}

.personUp{
    width: 11%;
    height: 210px;
    animation: Up 1.4s steps(9) 1;   
    position: absolute;
    left: 15%;
    top:54.5%;
}

.personDown{
    width: 150px;
    height: 102px;
    animation: down 1.5s steps(6) 1;
    position: relative;
    top: 468px;
    left: 20%;
}

.personDead{
    width: 160px;
    height: 170px;
    animation: dead 1s steps(4) 1;
    position: relative;
    top: 412px;
    left: 20%;
}

.personDeadFinish{
    width: 160px;
    height: 150px;
    animation:deadFinish  5s  1 ;
    position: absolute;
    top: 640px;
    left: 20%;
    
}

.finish{
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    font-family: var(--font);
    width: 30%;
    height: 200px;
    position: absolute;
    animation: moveFinish 5s linear 1; 
    top: 360px;
    left: 35%;
}

.finish a{
    color: black;
    text-decoration: none;
}

.finish button{
    all: unset;
    padding: 2%;
    border-radius: 5px;
    background-color: white;
    font-size: 25px;
}

.finish .text{
    color: azure;
    font-size: 100px;
}

.timer, .attention, .amount{
    position: absolute;
    top: 5%;
    padding: 0.5%;
    border-radius: 5px;
    background: #BDF8BD;
}

.timer {
    left: 15%;
    font-family: var(--font);
}

.timer > span{
    font-size: 25px;
}

.attention{
    left: 35%;
    text-align: center;
    font-family: var(--font);
}

.attention span{
    font-size: 25px;
}

.amount{
    left: 65%;
    font-family: var(--font);
}

.amount span{
    font-size: 25px;
}

/* all keyframes */

/*animacion de cuandop el personaje camina*/
@keyframes walk {
    0% {
        background-position: 0
    }
    100% {
        background-position: -848px
    }
}

/*animacion de cuando el personaje muere y se va de pantalla*/
@keyframes deadFinish {
    from {
        margin-left: 0%;
    }
    to {
        margin-left: -30%;
    }
}

/*animacion de cuando el personaje se agacha*/
@keyframes down {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: 1047px;
    }
}

/*aniimacion de cuando el personaje muere*/
@keyframes dead {
    0% {
        background-position: 0px
    }
    100% {
        width: 162px;
        top: 420px;
        background-position: -756px;
    }
}

/*animacion de cuando el opersinaje salta*/
@keyframes Up {
    0% {
        background-position: 0;
    }
    10% {
        top: 22% ;
    }
    20% {
        top: 24% ;
    }
    30% {
        top: 26% ;
    }
    60% {
        top: 28% ;
    }
    100% {
        width: 8%;
        margin-left: 3%;
        background-position: -1754px;
    }
}

/*animacion del fondo*/
@keyframes moveBackground {
    0%{
        background-position: 0px;
    }
    100%{
        background-position: -1920px;
    }
}

/* animacion de el barril y la flecha*/
@keyframes moveObstacle {
    from {
        margin-left: 95%;
    }
    to {
        margin-left: -1%;
    }
}

/* animacion del cartel que indica que perdio */
@keyframes moveFinish {
    0%{
        margin-left: 40%;
    }
}

/* animacion de la moneda*/
@keyframes moveMoney {
    0% {
        margin-left: 95%;
        transform: rotateX(0deg); 
    }
    100% {
        margin-left: -5%;
        transform: rotateX(360deg); 
    }
}