.conteiner{
    margin-top: 170px;
}

.layer{
    position: relative;
    width: 100%;
    height: 660px;
}

.layer1{
    background: url(../images/layer_07_1920\ x\ 1080.png);
    z-index: 0;
}

.layer2{
    background: url(../images/layer_06_1920\ x\ 1080.png);
    z-index: 1;
    animation: moveBackground 50s linear infinite;
}

.layer3{
    background: url(../images/layer_05_1920\ x\ 1080.png);
    z-index: 2;
    animation: moveBackground 40s linear infinite;
}

.layer4{
    background: url(../images/layer_04_1920\ x\ 1080.png);
    z-index: 3;
    animation: moveBackground 30s linear infinite;
}

.layer5{
    background: url(../images/layer_03_1920\ x\ 1080.png);
    z-index: 4;
    animation: moveBackground 20s linear infinite;
}

.layer6{
    background: url(../images/layer_02_1920\ x\ 1080.png);
    z-index: 5;
    animation: moveBackground 15s linear infinite;
}

.layer7{
    background: url(../images/layer_01_1920\ x\ 1080.png);
    z-index: 5;
    animation: moveBackground 10s linear infinite;
}

.flor{
    background: url(../images/florp.png) no-repeat;  
    width: 100%;
    height: 80px;
    animation: moveObstacle 5s linear infinite;  
    position: absolute;
    top: 660px;
}

.fuego{
    background: url(../images/fuego.png) no-repeat;  
    width: 100%;
    height: 80px;
    animation: moveObstacle 5s linear infinite; 
    position: absolute;
    top: 570px;
}

.moneda{
    background: url(../images/moneda.png) no-repeat;  
    width: 100%;
    height: 80px;
    animation: moveMoney 5s linear infinite; 
    position: absolute;
    top: 660px;
}

.person{
    background: url(../images/ninjaRunning.png);
    width: 135px;
    height: 156px;
    animation: walk 1s steps(6) infinite; 
    position: relative;
    top: 425px;
    left: 20%;
}

.personUp{
    width: 145px;
    height: 190px;
    animation: jump 35s 1;  
    position: absolute;
    left: 20%;
}

.personDown{
    width: 160px;
    height: 105px;
    position: relative;
    top: 460px;
    left: 20%;
}

.personDead{
    width: 130px;
    height: 168px;
    animation: dead 1s steps(3) 1;
    position: relative;
    top: 58%;
    left: 20%;
}

/* all keyframes */

@keyframes walk {
    0% {
        background-position: 0
    }
    100% {
        background-position: -848px
    }
}

@keyframes jump {
    0% {
        top: 280px;
    }
    100% {
        top: 280px;
    }
}

@keyframes dead {
    0% {
        background-position: 0
    }
    100% {
        background-position: -393px
    }
}

@keyframes moveBackground {
    0%{
        background-position: 0px;
    }
    100%{
        background-position: -1920px;
    }
}

@keyframes moveObstacle {
  from {
    margin-left: 100%;
   
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes moveMoney {
    0% {
      margin-left: 100%;
        transform: rotateX(0deg);
    }
    100% {
      margin-left: 0%;
        transform: rotateX(360deg);
    }
}