.conteiner{
  width: 1500px;
  height: 700px;
  display: flex;
  margin-top: 5%;
  margin-left: 5%;
}

.hills{
  animation: movehill 15s linear infinite;
  width: 100%;
  height: 659px;
  display: flex;
  margin-top: 10%;
}

.tree{
  animation: movetree 8s linear infinite;
  width: 100%;
  height: 200px;
  display: flex;
  margin-top: 30.5%;
}

.flor{
  width:100%;
  height: 88px;
  background: url(../images/flor.png) no-repeat;  
  animation: moveplanta 35s  1; 
  margin: 0;
  position: absolute;
 margin-top: 2.5%;
}

.fuego{
  width:100%;
  height: 88px;
  background: url(../images/fuego.png) no-repeat;  
  animation: moveplanta 35s  1;
  margin: 0;
  position: absolute;
  top:83%
  }

.person{
  width: 135px;
  height: 156px;
  animation: walk 1s steps(6) infinite; 
  display: flex;
  margin-top: 3.5%;
  margin-left: 15%;
}

.personUp{
  width: 145px;
  height: 190px;
  animation: jump 4s 1;  
  display: flex;
  margin-top: 1.5%;
  margin-left: 15%;
}
.personD{
  width: 135px;
  height: 110px;
  display: flex;
  margin-top: 6.2%;
  margin-left: 15%;
}
@keyframes walk {
  0% {
    background-position: 0
  }
  100% {
    background-position: -848px
  }
}

@keyframes movehill{
  0% {
    background-position: 0px
  }
  
  100% {
    background-position: -2045px
  }
}

@keyframes movetree{
  0% {
    background-position: 0px
  }
  
  100% {
    background-position: -1449px
  }
}

@keyframes moveplanta {
  0% {
    background-position: right
  }
  
  100% {
    background-position: left
  }
}

@keyframes jump {
    0% {
      margin-top: -10%;
    }
    100% {
      margin-top: -10%;
    }
}
