:root{
    --body-bg: #ECFEEC;
    --main-bg: #46CE46;
    --secondary-bg: #BDF8BD;
    --border: 10px; 
}

/* menu */

.title{
    width: 50%;
    text-align: center;
    padding: 0.1% 0%;
    background-color: var(--main-bg);
    border-radius: var(--border);
    margin-left: 25%;
}

.title h1{
    animation: loadTitle 1s linear forwards;
}

.indications p, .indications h2, .indications h4{
    text-align: center;
}

.indications h2{
    text-decoration: underline;
}

.indications{
    background-color: var(--secondary-bg);
    width: 50%;
    border-radius: var(--border);
    margin-left: 25%;
}

.indications .steps{
    width: 90%;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 5%;
}

.game fieldset{
    width: 56%;
    padding: 0.5%; 
    margin-left: 0%;
    border-radius: var(--border);
}

.game{
    margin-top: 0.5%;
    display: flex;
    justify-content: space-evenly;
}

.game .chooseStage > button{
    all: unset;
    padding: 1% 2%;
    width: 100px;
    height: 100px;
    border-radius: var(--border);
    margin-left: 21%;
    margin-top: 0.5%;
}

.game .chooseStage > button:hover{
    animation: rotateAvatar .5s linear forwards;
}

.game .chooseStage > button img{
    border-radius: var(--border);
    height: 100px;
    width: 100px;
}

.game .time > p{
    width: 50px;
    height: 50px;
    margin-top: 20%;
    margin-left: 40%;
}

.initGame{
    all: unset;
    padding: 0.5%;
    margin-left: 50%;
    text-decoration: underline;
    animation: playButton 1s linear forwards;
    background-color: var(--secondary-bg);
    border-radius: var(--border);
    margin-top: 1%;
    padding: 1%;
}

.footer{
    background-color: var(--main-bg);
    width: 35%;
    border-radius: var(--border);
    padding: 0.5%;
    text-align: center;
    margin-left: 35%;
}

/* all keyframes */

@keyframes rotateAvatar {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes loadTitle {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes playButton {
    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    10% {
        -webkit-transform: rotate(8deg);
        transform: rotate(8deg);
    }
    20%,
    40%,
    60% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    80% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg);
    }
    90% {
        -webkit-transform: rotate(8deg);
        transform: rotate(8deg);
    }
}