.title{
    width: 50%;
    padding: 0.5% 0%;
    text-align: center;
    background-color: lightsalmon;
    border-radius: 10px;
    margin-left: 25%;
}

.menu .help{
    background-color: #FFCEB5;
    padding: 0.5% 0%;
    border-radius: 10px;
    margin-top: 1%;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.menu .tokens{
    display: flex;
    justify-content: space-around; 
}

.game > button{
    all: unset;
    padding: 1%;
    background-color: #FFCEB5;
    margin-left: 48%;
    margin-top: 1%;
    font-size: 20px;
}

.menu .tokens button{
    border: none;
    background-color: unset;
}

.menu .tokens button:hover{
    border: 3px solid blue;
}

.menu .tokens h4{
    border: black 1px solid;
    width: 25%;
    text-align: center;
    margin-left: 35%;
}

.menu .chooserToken1, .menu .chooserToken2{
    border: 1px solid black;
    width: 30%;
    margin-top: 1%;
    flex-direction: row;
    padding: 1%;
}

.tokens .chooserToken1, .tokens .chooserToken2{
    border: black 1px solid;
}

.chooserToken1 > button, .chooserToken2 > button{
    width: 100px;
    height: 100px;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 5px;
}

.chooserToken1 > button img, .chooserToken2 > button img{
    width: 70px;
    height: 70px;
}

#finishGame{
    border: 1px solid black;
    width: 50%;
    text-align: center;
    background-color: lightseagreen;
    border-radius: 5px;
    margin-left: 23%;
    margin-top: 5%;
}

#finishGame > button{
    all: unset;
    border: 1px solid black;
    padding: 1%;
    background-color: lightyellow;
    border-radius: 5px;
}

.insideGame{
    display: flex;
    justify-content: space-around;
}

#timer{
    border: 1px solid black;
    width: 10%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvasPreview{
    margin-top: 1%;
    display: flex;
    justify-content: center;
}